:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --primary-color: #112d4e;
  --secondary-color: #3f72af;
  --background-color: #f9f7f7;
  --background-color-dark: #dbe2ef;
  --size-height-header: 64px;
  --color-border: #e0e0e0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: var(--primary-color);
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
}
